<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
{% extends 'layout.html' %}

{% block body %}
    <h1>View All Publications</h1>
    <br/>
    <hr/>
    <table class="table table-bordered">
        <thead>
        <tr>
            <th>#</th>
            <th>Title</th>
            <th>Type Of Publication</th>
            <th>Status</th>
            <th>Category</th>
            <th></th>
            <th></th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <th scope="row">1</th>
            <td>Harry Potter and the Deathly Hallows</td>
            <td>Book</td>
            <td>For Borrowing</td>
            <td>Fantasy</td>
            <td><a href="#">View</a></td>
            <td><a href="/update">Update</a></td>
            <td><a href="#">Delete</a></td>
        </tr>
        <tr>
            <th scope="row">2</th>
            <td>Harry Potter and the Half-Blood Prince</td>
            <td>Book</td>
            <td>For Borrowing</td>
            <td>Fantasy</td>
            <td><a href="#">View</a></td>
            <td><a href="/update">Update</a></td>
            <td><a href="#">Delete</a></td>
        </tr>
        </tbody>
    </table>
{% endblock %}


</body>
</html>
